In [12]:
!pip install pandas numpy matplotlib seaborn keras tensorflow scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\malvi\appdata\roaming\python\python312\site-packages (2.2.2)
Requirement already satisfied: numpy in c:\users\malvi\appdata\roaming\python\python312\site-packages (1.26.4)
Requirement already satisfied: matplotlib in c:\users\malvi\appdata\roaming\python\python312\site-packages (3.9.2)
Requirement already satisfied: seaborn in c:\users\malvi\appdata\roaming\python\python312\site-packages (0.13.2)
Requirement already satisfied: keras in c:\users\malvi\appdata\roaming\python\python312\site-packages (3.5.0)
Requirement already satisfied: tensorflow in c:\users\malvi\appdata\roaming\python\python312\site-packages (2.17.0)
Requirement already satisfied: scikit-learn in c:\users\malvi\appdata\roaming\python\python312\site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: absl-py in c:\users\malvi\appdata\roaming\python\python312\site-packages (from keras) (2.1.0)
Requirement already satisfied: rich in c:\users\malvi\appdata\roaming\python\python312\site-packages (from keras) (13.8.0)
Requirement already satisfied: namex in c:\users\malvi\appdata\roaming\python\python312\site-packages (from keras) (0.0.8)
Requirement already satisfied: h5py in c:\users\malvi\appdata\roaming\python\python312\site-packages (from keras) (3.11.0)
Requirement already satisfied: optree in c:\users\malvi\appdata\roaming\python\python312\site-packages (from keras) (0.12.1)
Requirement already satisfied: ml-dtypes in c:\users\malvi\appdata\roaming\python\python312\site-packages (from keras) (0.4.0)
Requirement already satisfied: tensorflow-intel==2.17.0 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorflow) (2.17.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.0->tensorflow) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.0->tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.0->tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.0->tensorflow) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.0->tensorflow) (3.3.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.0->tensorflow) (4.25.4)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.0->tensorflow) (2.32.3)
Requirement already satisfied: setuptools in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.0->tensorflow) (73.0.1)
Requirement already satisfied: six>=1.12.0 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.0->tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.0->tensorflow) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.66.0)
Requirement already satisfied: tensorboard<2.18,>=2.17 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.0->tensorflow) (2.17.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from rich->keras) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from rich->keras) (2.18.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.17.0->tensorflow) (0.44.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from markdown-it-py>=2.2.0->rich->keras) (0.1.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow) (2024.7.4)
Requirement already satisfied: markdown>=2.6.8 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow) (3.0.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\malvi\appdata\roaming\python\python312\site-packages (from werkzeug>=1.0.1->tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow) (2.1.5)

In [13]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore') 

from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM, Bidirectional

In [14]:
df = pd.read_csv('stock_dataset.csv')
df.head()

,symbol,date,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
0,GOOG,2016-06-14 00:00:00+00:00,718.27,722.47,713.1200,716.48,1306065,718.27,722.47,713.1200,716.48,1306065,0.0,1.0
1,GOOG,2016-06-15 00:00:00+00:00,718.92,722.98,717.3100,719.00,1214517,718.92,722.98,717.3100,719.00,1214517,0.0,1.0
2,GOOG,2016-06-16 00:00:00+00:00,710.36,716.65,703.2600,714.91,1982471,710.36,716.65,703.2600,714.91,1982471,0.0,1.0
3,GOOG,2016-06-17 00:00:00+00:00,691.72,708.82,688.4515,708.65,3402357,691.72,708.82,688.4515,708.65,3402357,0.0,1.0
4,GOOG,2016-06-20 00:00:00+00:00,693.71,702.48,693.4100,698.77,2082538,693.71,702.48,693.4100,698.77,2082538,0.0,1.0

In [15]:
print("Shape of data:",df.shape)

Shape of data: (1258, 14)

In [16]:
# statistical description of data
df.describe()

,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
count,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.0,1258.0
mean,1216.317067,1227.430934,1204.176430,1215.260779,1.601590e+06,1216.317067,1227.430936,1204.176436,1215.260779,1.601590e+06,0.0,1.0
std,383.333358,387.570872,378.777094,382.446995,6.960172e+05,383.333358,387.570873,378.777099,382.446995,6.960172e+05,0.0,0.0
min,668.260000,672.300000,663.284000,671.000000,3.467530e+05,668.260000,672.300000,663.284000,671.000000,3.467530e+05,0.0,1.0
25%,960.802500,968.757500,952.182500,959.005000,1.173522e+06,960.802500,968.757500,952.182500,959.005000,1.173522e+06,0.0,1.0
50%,1132.460000,1143.935000,1117.915000,1131.150000,1.412588e+06,1132.460000,1143.935000,1117.915000,1131.150000,1.412588e+06,0.0,1.0
75%,1360.595000,1374.345000,1348.557500,1361.075000,1.812156e+06,1360.595000,1374.345000,1348.557500,1361.075000,1.812156e+06,0.0,1.0
max,2521.600000,2526.990000,2498.290000,2524.920000,6.207027e+06,2521.600000,2526.990000,2498.290000,2524.920000,6.207027e+06,0.0,1.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symbol       1258 non-null   object
 1   date         1258 non-null   object
 2   close        1258 non-null   float64
 3   high         1258 non-null   float64
 4   low          1258 non-null   float64
 5   open         1258 non-null   float64
 6   volume       1258 non-null   int64
 7   adjClose     1258 non-null   float64
 8   adjHigh      1258 non-null   float64
 9   adjLow       1258 non-null   float64
 10  adjOpen      1258 non-null   float64
 11  adjVolume    1258 non-null   int64
 12  divCash      1258 non-null   float64
 13  splitFactor  1258 non-null   float64
dtypes: float64(10), int64(2), object(2)
memory usage: 137.7+ KB

In [18]:
# checking null values
df.isnull().sum()

symbol         0
date           0
close          0
high           0
low            0
open           0
volume         0
adjClose       0
adjHigh        0
adjLow         0
adjOpen        0
adjVolume      0
divCash        0
splitFactor    0
dtype: int64

#DATA PREPROCESSING

In [19]:
df = df[['date','open','close']] # Extracting required columns
df['date'] = pd.to_datetime(df['date'].apply(lambda x: x.split()[0])) # converting object dtype of date column to datetime dtype
df.set_index('date',drop=True,inplace=True) # Setting date column as index
df.head(20)

              open   close
date
2016-06-14  716.48  718.27
2016-06-15  719.00  718.92
2016-06-16  714.91  710.36
2016-06-17  708.65  691.72
2016-06-20  698.77  693.71
2016-06-21  698.40  695.94
2016-06-22  699.06  697.46
2016-06-23  697.45  701.87
2016-06-24  675.17  675.22
2016-06-27  671.00  668.26
2016-06-28  678.97  680.04
2016-06-29  683.00  684.11
2016-06-30  685.47  692.10
2016-07-01  692.20  699.21
2016-07-05  696.06  694.49
2016-07-06  689.98  697.77
2016-07-07  698.08  695.36
2016-07-08  699.50  705.63
2016-07-11  708.05  715.09
2016-07-12  719.12  720.64